* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

// IMPORTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import "form";
@import "page";
@import "tiles";

@block: 'Oswald', sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;

@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";

// COLORS
@seaGreen: #4EAE47;
@seaBlue: #06192E;
@seaGray: #666666;
@black: #222222;
@light-gray: #CCCCCC;
@patriots: #C80815; //red
@seahawks: #4EAE47; //green

// FONTS
@block: 'Oswald', Helvetica, sans-serif;
@paytone: 'Paytone One', sans-serif;
@pt: 'PT Sans', sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;
@serif: Georgia, Times, serif;

body {
  font-family: @pt;
  color: @seaGray;
  opacity: 0.9;
  margin: 0px;
}

a {
  color: @seaGray;
}

.red {
  border-color: @patriots;
  color: @patriots;
}

.green {
  border-color: @seahawks;
  color: @seahawks;
}

.blue {
  color:@seaBlue;
  text-transform: lowercase;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.scatter-box-outer {
  width: 50%;
  float: left;

  .scatter-box-inner {
    padding-bottom: 100%;
    position: relative;

    .scatterplot {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.scatterplot {
  border-left: 1px solid #888;
  border-bottom: 1px solid #888;

  .point-container {
    cursor: pointer;
    position: absolute;

    &.seahawks {
      .point {
        background: @seahawks;
        border: 3px solid @seaBlue;
      }

      .tooltip {
        border-top: 4px solid @seahawks;
      }
    }

    &.patriots {
      .point {
        background: @patriots;
        border: 3px solid @seaBlue;
      }

      .tooltip {
        border-top: 4px solid @patriots;
      }
    }

    .point {
      @size: 14px;
      margin-left: -(@size / 2);
      margin-top: -(@size / 2);
      width: @size;
      height: @size;
      border-radius: 100%;
    }

    .tooltip {
      display: none;
      position: absolute;
      background: #EEE;
      transition: opacity .2s linear;
      border: 1px solid #CCC;
      border-radius: 4px;
      padding: 10px;
      z-index: 99;

      .score {
        font-weight: bold;
      }
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }
  }
}

.sidebar {
  background: #EEE;
  float: left;
  width: 50%;

  .add-yourself {
    cursor: pointer;
    display: inline-block;
    margin: 50px;
    font-size: 0.9em;
    font-family: @block;
    text-transform: uppercase;
    font-weight: normal;
    padding: 8px;
  }
}
