* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

// IMPORTS
@import "form";
@import "page";
@import "tiles";

// MEDIA  
@mobile: ~"(max-width: 480px)";
@tablet: ~"(max-width: 768px)";
@landscape: ~"(max-width: 1024px)";

// COLORS
@seaGreen: #4EAE47;
@seaBlue: #06192E;
@seaGray: #666666;
@black: #222222;
@light-gray: #CCCCCC;
@patriots: rgba(200, 8, 21, 1); //red
@seahawks: rgba(78, 174, 1, 1); //green

// FONTS
@block: 'Oswald', Helvetica, sans-serif;
@paytone: 'Paytone One', sans-serif;
@pt: 'PT Sans', sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;
@serif: Georgia, Times, serif;

body {
  font-family: @pt;
  color: @seaGray;
  opacity: 0.9;
  margin: 0px;
}

a {
  color: @seaGray;
}

.red {
  border-color: @patriots;
  color: @patriots;
}

.green {
  border-color: @seahawks;
  color: @seahawks;
}

.blue {
  color:@seaBlue;
  text-transform: lowercase;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.fan-predictions {
  width: 75%;
  margin: auto;

  @media (~"max-width: 1150px") {
    width: 85%;
  }

  @media @landscape {
    width: 90%;
  }

  @media (~"max-width: 900px") {
    width: 100%;
  }
}

.results {
  display: none;

  @media @tablet {
    width: 100%;
  }
}

.scatter-box-outer {
  width: calc(~"100% - 350px");
  padding-left: 50px;

  @media @tablet {
    float: none;
    margin: auto;
    width: calc(~"100% - 150px");
    padding-top: 20px;
    padding-left: 0;
  }

  @media (~"max-width: 600px") {
    width: 90%;
  }

  @media (~"max-width: 570px") {
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
  }
}

.scatter-box {
  padding-bottom: 100%;
  position: relative;

  .axis {
    font-family: @paytone;
    position: absolute;
    text-transform: uppercase;

    &.x {
      width: 100%;
      text-align: center;
      margin-left: 30px;
      bottom: 0;
    }

    &.y {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      top: 50%;
      left: -5px;
      -ms-transform-origin: top left;
      -webkit-transform-origin: top left;
      transform-origin: top left;
    }
  }

  .scatterplot {
    position: absolute;
    top: 0;
    left: 45px;
    width: calc(~"100% - 45px");
    height: calc(~"100% - 45px");
  }
}

.scatterplot {
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;

  .x-num {
    position: absolute;
    font-size: 13px;
    bottom: -22px;
  }

  .y-num {
    position: absolute;
    font-size: 13px;
    left: -20px;
  }

  .point-container {
    cursor: pointer;
    position: absolute;

    &.seahawks {
      .tooltip {
        border-top: 4px solid @seahawks;
      }
    }

    &.patriots {
      .tooltip {
        border-top: 4px solid @patriots;
      }
    }

    &.user.seahawks {
      .point {
        background: @seahawks !important;
        border: 3px solid @seaBlue;
      }
    }

    &.user.patriots {
      .point {
        background: @patriots !important;
        border: 3px solid @seaBlue;
      }
    }

    .point {
      @size: 14px;
      margin-left: -(@size / 2);
      margin-top: -(@size / 2);
      width: @size;
      height: @size;
      border-radius: 100%;
    }

    .tooltip {
      display: none;
      position: absolute;
      background: #EEE;
      transition: opacity .2s linear;
      border: 1px solid #CCC;
      border-radius: 4px;
      padding: 10px;
      z-index: 999999;
      color: @seaBlue;
      text-align: center;
      top: 18px;
      left: -50px;

      .score {
        font-family: @paytone;
        font-size: 1.2em;
      }

      .team {
        font-family: @paytone;
      }

      .count {
        font-size: 0.8em;
        color: @seaGray;
        padding-top: 3px;
        white-space: nowrap;
      }
    }

    &:hover {
      .tooltip {
        display: block;
      }
    }

    .click-tooltip {
      display: block;
    }
  }
}

.sidebar {
  display: inline-block;
  width: 350px;
  float: right;
  text-align: center;

  @media (~"max-width: 900px") {
    width: 320px;
  }

  @media @tablet {
    float: none;
    margin: auto;
    display: block;
    width: 100%;
  }

  .sidebar-title {
    margin-top: 0;
    font-family: @paytone;
    font-weight: bold;
    color: @seaBlue;

    @media @tablet {
      margin: 0;
    }

    @media (~"max-width:600px") {
      padding-bottom: 15px;
    }
  }

  .sidebar-box {
    display: inline-block;
    width: 60%;

    @media @tablet {
      width: 100%;
      padding: 15px;
      display: block;
    }

    @media (~"max-width:600px") {
      padding: 0;
    }

    .team-box {
      margin-bottom: 10px;

      @media @tablet {
        margin: 0 10px 15px 10px;
        width: 46%;
        display: inline-block;
      }

      @media (~"max-width: 570px") {
        margin: 0;
      }

      &.seahawks {
        border: 4px solid @seahawks;
      }

      &.patriots {
        border: 4px solid @patriots;
      }

      .team {
        font-size: 1.5em;
        font-family: @block;
        text-transform: uppercase;
        color: @seaBlue;
        text-align: center;
        padding: 3px;

        &.seahawks {
          background: @seahawks;
        }

        &.patriots {
         background: @patriots;
        }
      }
    }

    .percent {
      font-size: 2.5em;
      font-weight: bold;
      font-family: @paytone;
      padding: 10px;
      padding-top: 0;
      background: white;
      color: @seaBlue;
      text-align: center;
      padding-bottom: 0;
    }

    .avg-diff {
      font-size: 1.4em;
      font-family: @paytone;
      color: @seaBlue;
      text-align: center;
      padding: 10px;
      padding-top: 0;
    }
  }

  .add-yourself {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 14px;
    letter-spacing: 1px;
    color: white;
    background: @seaBlue;
    transition: background .1s linear;

    @media (~"max-width: 570px") {
      margin-top: 25px;
    }

    &:hover {
      background: @seaGray;
    }
  }
}
